<div class="container-fluid">
    <div class="container">
        <h1>Lista Personaggi</h1>
      <div class="search-hero">
        <input type="text" name="name" [(ngModel)]="searchName" placeholder="Cerca un Nome">

        <select name="searchGender" id="searchGender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>

        <button class="btn-primary btn-sm" type="button" (click)="doSearch()">Cerca</button>
      </div>
    </div><br>
    <div class="container " style="border:solid 1px gray ;">
        <ul *ngFor="let post of POST |paginate:{itemsPerPage:listSize,currentPage:page,totalItems:count};let i =index">
            <li *ngIf="post.name!=''">{{post.name}}<button class="btn btn-dark" style="float:right"
                    (click)="showDetail($event,post,mymodal)">Detail</button></li>
        </ul>
    </div>
    <!--Start modale -->
    <ng-template #mymodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title text-black" id="modal-basic-title">Lista Dettagli</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div *ngFor="let item of vettoreDetail " class="modal-body  text-black">
            <ul>
                <li>
                    <h4>Name</h4>{{item.name}}
                </li>
                <li>
                    <h4>Aliases</h4>{{item.aliases}}
                </li>
                <li>
                    <h4>Born</h4>{{item.born}}
                </li>
                <li>
                    <h4>Gender</h4>{{item.gender}}
                </li>
                <li>
                    <h4>TV Series</h4>{{item.tvSeries}}
                </li>
                <li>
                    <h4>Culture</h4>{{item.culture}}
                </li>
                <span *ngIf="item.culture==='Valyrian'">
                    <img style="width:300px ;height:auto"
                        src="https://images-platform.99static.com/OY7c_DU3raeQ8dWRs__EjszWFWU=/500x500/top/smart/99designs-contests-attachments/37/37601/attachment_37601022"
                        alt="">
                </span>
                <span *ngIf="item.culture==='Ironborn'">
                    <img style="width:300px ;height:auto"
                        src="https://i.pinimg.com/originals/93/cd/f7/93cdf74b440fb165e5725ee0b530c9f7.jpg" alt="">
                </span>
                <span *ngIf="item.culture==='Stormlands'">
                    <img style="width:300px ;height:auto"
                        src="https://www.pngfind.com/pngs/m/677-6779526_the-stags-of-the-stormlands-game-of-thrones.png"
                        alt="">
                </span>
                <span *ngIf="item.culture==='Northmen'">
                    <img style="width:300px ;height:auto"
                        src="https://cdn.dribbble.com/users/235144/screenshots/1443427/media/5d0274d0211f800ec696daaf43c4238b.jpg?compress=1&resize=400x300"
                        alt="">
                </span>
                <span *ngIf="item.culture==='Andal'">
                    <img style="width:300px ;height:auto"
                        src="https://m.media-amazon.com/images/I/51uzrlA0s8L._AC_SX450_.jpg" alt="">
                </span>
                <span *ngIf="item.culture==='Valemen'">
                    <img style="width:300px ;height:auto"
                        src="https://i.pinimg.com/originals/fc/e4/d2/fce4d27e3c135f02e6c0183aa10c03f2.jpg" alt="">
                </span>
                <span *ngIf="item.culture==='Dornish'">
                    <img style="width:300px ;height:auto"
                        src="https://librisognierealta.it/wp-content/uploads/2019/05/casa-fowler-got.png" alt="">
                </span>
                <span *ngIf="item.culture===''">
                    <img style="width:300px ;height:auto"
                        src="https://www.associazionejam.it/wp-content/uploads/2017/04/non-disponibile-300x300.png"
                        alt="">
                </span>
            </ul>
            <hr>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Ok</button>
        </div>
    </ng-template>
    <!--End modale -->
</div>
 <div class="container text-center">
    <select (change)="changeSizeList($event)">
        <option *ngFor="let size of listSizes">
            {{size}}
        </option>
    </select>
</div>
<div class="container text-center">
    <pagination-controls previousLabel="prev" nextLabel="next" (pageChange)="changeList($event)"></pagination-controls>
</div>
