/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// MDB SCSS
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: black;
}

body:not(.dark-mode-preloading) {
  transition: all 0.6s linear;
}

.dark-mode {
  background-color: #2d3436;
  color: #dfe6e9;
}


